/*all sections in app-container are flex rows*/
#app-container > div{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#header{
    height: 10vh;
}
#main{
    height: 45vh;
}
#errors{
    height: 30vh;
}
#handle{
    height: 15vh;
}