/*all sections in app-container are flex rows*/
#app-container > div {
    display: flex;
    flex-direction: row;
    width: 100%;
}


/*General*/
button {
    border-radius: 30px;
    background-color: #fff;
    border: 5px solid #ddd;
    width: 20%;
    height: 40px;
}

button.active{
    border-color: #0000ff;
}

/*header*/
#header {
    height: 10vh;
}

/*Main*/
#main {
    flex-direction: column!important;
    height: 45vh;
}

#main > div {
    flex-direction: row;
    width: 100%;
    display: flex;
    min-height: 50%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
}

/*Errors*/
#alerts {
    height: 30vh;
    justify-content: center;
    align-items: center;
}
#alerts > div{
    width: 80%;
    text-align: center;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    color: #fff;
    background-color: #aa2222;
}
.correct{
    background-color: limegreen;
}

/*Handle*/
#handle {
    justify-content: center;
    height: 15vh;
}

.hide{
    display: none!important;
}